<div class="container container-profile">

    <div class="row-profile">
        <div class="profile">
            <img type="file" src="{{user.img}}" class="rounded-circle shadow-4 img-thumbnail">
            <div class="avatar-overlay">
                <span href="#" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Thay đổi ảnh
                </span>
            </div>
        </div>
        <div class="media-body">
            <h2 class="mt-0 mb-1">{{user.fullName}}</h2>
            <p class="medium mb-3"> <i class="fas fa-map-marker-alt mr-2"></i>{{user.email}}</p>
        </div>
    </div>


    <div class="row media-user">
        <h3 class="font-weight-bold mb-3 d-block">
            <span>{{user.fullName}}</span> --- TIÊN VỰC 3D
        </h3>
        <h5 class="font-weight-bold">{{roleLabel}}</h5>
        <p class="text-muted"> <i class="fas fa-image mr-1"></i>Nhập đạo: {{createdDate}}</h4>
    </div>

    {{#if movie.length}}
    <div class="row media-favorite">
        <div class="col-12 media gap-3">
            <p class="mb-0">PHIM THEO DÕI</p><a href="#" class="btn">Show all</a>
        </div>
    </div>


    <div class="row-list-favorites">
        {{#each movie}}
        <div class="row-col-list">
            <div class="list-card">
                <a href="/movies/{{this.slug}}/details">
                    <img src="{{this.img}}" class="img-thumbnail card-img-top img-hover-effect" alt="{{this.name}}"
                        loading="lazy" fetchpriority="high">
                    <span></span>
                    <div class="dark-bottom-gradient"></div>
                    <p class="list-card-name">
                        {{this.name}}
                    </p>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

</div>