<div class="scroll-container">
    {{#each moviesTop}}
    <div class="card">
        <div class="card-img">
            <a href="/movies/{{this.slug}}/details">
                <img src="{{this.img}}" class="card-img-top img-hover-effect" alt="{{this.name}}" loading="eager"
                    fetchpriority="high">
            </a>
        </div>
        <div class="card-body">
            <div class="card-body-number">{{sum @index 1}}</div>
            <div class="card-body-info">
                <h5 class="card-title fs-6">{{this.name}}</h5>
                <p class="card-title-details">Xem ngay</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div class="container-row-section">
    {{!-- weekly --}}
    <div class="row-filter-select bg-dark px-3">
        <a href="/?selectedDay=Thứ Hai">Thứ hai </a>
        <a href="/?selectedDay=Thứ Ba">Thứ ba </a>
        <a href="/?selectedDay=Thứ Tư">Thứ tư </a>
        <a href="/?selectedDay=Thứ Năm">Thứ năm </a>
        <a href="/?selectedDay=Thứ Sáu">Thứ sáu </a>
        <a href="/?selectedDay=Thứ Bảy">Thứ bảy </a>
        <a href="/?selectedDay=Chủ nhật">Chủ nhật </a>
    </div>

    <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="icon">&#9776; Lịch chiếu</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-custom">
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Hai">Thứ Hai</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Ba">Thứ Ba</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Tư">Thứ Tư</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Năm">Thứ Năm</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Sáu">Thứ Sáu</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Thứ Bảy">Thứ Bảy</a></li>
            <li><a class="dropdown-item fs-6" href="/?selectedDay=Chủ nhật">Chủ nhật</a></li>
        </ul>
    </div>

    {{!-- <a class="btn btn-filter-select-hidden" href="/filter/schedule">Lịch chiếu phim</a> --}}

    {{!-- list movies limit 15--}}
    <div class="row-list">
        {{#each movies}}
        <div class="row-col-list">
            <div class="list-card">
                <a href="/movies/{{this.slug}}/details">
                    <img src="{{this.img}}" class="card-img-top img-hover-effect" alt="{{this.name}}" loading="lazy"
                        fetchpriority="high">
                    <div class="dark-bottom-gradient"></div>
                    <p class="list-card-name">
                        {{this.name}}
                    </p>
                </a>
            </div>
        </div>
        {{/each}}
    </div>

    <p class="m-1">Trang {{currentPage}} / {{totalPages}}</p>

    <nav aria-label="Page navigation example" class=" d-flex justify-content-center mt-1">
        <ul class="pagination">
            {{#each totalPagesCount}}
            <li class="page-item"><a class="page-link" href="/?page={{this}}">{{this}}</a></li>
            {{/each}}
        </ul>
    </nav>

</div>

<footer class="container-footer text-center bg-dark text-white py-4 mt-auto">
    <a class="text-white text-decoration-none" href="/">
        <p class="mb-1">© Copyright ® 2025 Tiên Vực 3D.</p>
    </a>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/" class="text-white">Trang chủ</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Liên hệ</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Về chúng tôi</a></li>
    </ul>
</footer>